#naptar table{
    font-size: small;
}

#naptar th, #naptar tr {
    padding-right: 15px;
}
#naptar td {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
}
[class*="szobaAraMegjelenit_"] {
    width: 4em;
    font-size: xx-small;
}
[class*="szobaAraSzerkeszt_"] {
    width: 4em;
    font-size: xx-small;
    display: none;
}

[class*="szobaArOszlop_"] {
    font-size: xx-small;
    padding-left: 20px;
    padding-top: 6px;
    display: none;
}

#naptar > tbody > tr[class*="oszlopRoom_"] > th{
    padding-right: 0px;
}
